.single-choose {
  margin: 0;
  margin-bottom: 30px;
}
.choose-title {
  padding: 0 0 17px 0;
}
.choose-title h4 {
  margin-top: 0;
  font-size: 20px;
}
.single-choose-inner {
  align-items: center;
  padding: 36px 29px 18px;
  transition: 0.5s;
  border-bottom: none;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.choose-icon {
  position: relative;
  z-index: 1;
  padding-right: 101px;
  position: relative;
  z-index: 1;
  left: 32px;
}
.choose-icon:before {
  position: absolute;
  content: "";
  top: -33px;
  left: -98px;
  height: 88px;
  width: 88px;
  background: #daefe6;
  right: 0;
  margin: auto;
  transition: 0.5s;
  z-index: -1;
  border-radius: 36% 66% 70% 30%/63% 62% 38% 51%;
}
.choose-icon i {
  color: #2ed3aa;
  display: inline-block;
  text-align: center;
  background: transparent;
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 27px;
}
.single-choose-inner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  transition: 0.5s;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url(assets/images/choose-hover.png);
  border-radius: 4px;
}
.choose-icon.two::before {
  background: #fae1da !important;
}
.choose-icon.two i {
  color: #ff4f0b !important;
}
.choose-icon.three::before {
  background: #e1e0ff !important;
}
.choose-icon.three i {
  color: #604efc !important;
}
.choose-icon.four::before {
  background: #f9ecdb !important;
}
.choose-icon.four i {
  color: #ff930e !important;
}
.single-choose-inner:hover {
  transform: translate3d(-10px, 0, 0);
}
.single-choose-inner:hover .choose-icon:before {
  background: #fff !important;
}
.single-choose-inner:hover::before {
  width: 100%;
  left: 0;
}
.single-choose-inner:hover .choose-title h4 {
  color: #fff;
}
.single-choose-inner:hover .choose-description p {
  color: #fff;
}
